<?xml version="1.0" encoding="UTF-8"?>
<!--  -->
<web-app >
	<display-name>asd</display-name>

	<servlet>
		<servlet-name>ServletRele</servlet-name>
		<servlet-class>es.us.lsi.dad.ServletRele</servlet-class>
	</servlet>


	
		<servlet-mapping>
		<servlet-name>ServletRele</servlet-name>
		<url-pattern>/ServletRele</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>ServletLoginHumedad</servlet-name>
		<servlet-class>es.us.lsi.dad.ServletLoginHumedad</servlet-class>
	</servlet>


	
		<servlet-mapping>
		<servlet-name>ServletLoginHumedad</servlet-name>
		<url-pattern>/ServletLoginHumedad</url-pattern>
	</servlet-mapping>
	

</web-app>